body {
  font-family: supernatural;
  border: 5px solid black;
  height: auto;
  width: auto;
  margin: 0%;
  overflow: auto;
}

@font-face {
  src: url("Supernatural_Knight.ttf");
  font-family: supernatural;
}

.dark-mode {
  background-color: black;
  color: #ffffff;
  border: 5px solid #494949;
  .legals {
    color: #ffffff;
  }
  .list-1 {
    color: #ffffff;
  }
  .text-top {
    color: #ffffff;
  }
  .text-middle {
    color: #ffffff;
  }
  .text-bottom {
    color: #ffffff;
  }
  .text-sign {
    color: #ffffff;
  }
  .hr-2 {
    border: 3px solid #494949;
  }
  .container-top {
    background-image: url(city.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .text-img {
    border: 5px solid #494949;
  }
  .btn-1 {
    border: 4px solid #494949;
    color: #ffffff;
  }
}

.container-top {
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
  background-image: url(Forrest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
}
.legals {
  display: flex;
  width: 250px;
  color: #dc37c4;
}
.text-top {
  display: block;
  text-align: center;
  font-size: 30px;
  color: #dc37c4;
}
.button-1 {
  width: 250px;
}
.btn-1 {
  display: flex;
  margin: 15px 0px;
  float: right;
  border-radius: 20px;
  padding: 5px 15px;
  background-color: #ffffff5d;
  opacity: 75%;
  font-size: 16px;
  border: 4px solid black;
}

.hr-2 {
  border: 3px solid black;
  margin: 0%;
}
.container-mid {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
.about-me {
  display: flex;
  font-size: 34px;
}
.li-ab {
  text-align: center;
}
.list-info {
  margin-bottom: 30px;
}
.joachim-jpg {
  width: 500px;
  display: flex;
  margin: 25px;
}
.text-img {
  border: 5px solid black;
  padding: 15px;
  display: block;
  margin: auto;
  font-size: 30px;
}
.text-links {
  display: flex;
  justify-content: space-around;
}

.container-bot {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.mid-txt {
  display: block;
}
.mid-txt-h1 {
  text-align: center;
}

.dexter-jpg {
  display: flex;
  width: 500px;
  margin: 25px;
}

.text-box {
  border: 5px solid black;
  margin-left: 42%;
  margin-right: 50%;
  margin-bottom: 1%;
  width: 15%;
  margin-top: 2%;
  border-radius: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.text-middle {
  color: #000000;
  text-align: center;
}
.text-bottom {
  color: #000000;
  text-align: center;
}

.text-sign {
  text-align: center;
  font-size: x-large;
  border-radius: 10px;
}

.button-2 {
  margin-left: 10px;
  font-size: x-large;
  font-weight: lighter;
  border-radius: 10px;
}

.bot-txt {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
